::-moz-selection {
    /* Code for Firefox */
    @include selection;
}

::selection {
    @include selection;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    font-family: $font-body;
    font-size: 18px;
    color: $color-text;
    @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 1.3;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 700;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 34px;
    color: $color-primary;
    position: relative;   
    @media screen and (max-width: 767px) {
        font-size: 26px;
    }
}
h3 {
    font-size: 26px;
    @media screen and (max-width: 767px) {
        font-size: 20px;
    }
}
h4 {
    font-size: 22px;
    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}
h5 {
    font-size: 18px;
    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}
h6 {
    font-size: 14px;
}
.brd-5 {
    border-radius: 5px;
}
.brd-10 {
    border-radius: 10px;
}
a {
    @include transition(0.2s);
}
.modal-open .modal {
    max-height: 100vh !important;
}
.relative {
    position: relative;
}