$font-heading: "montserrat", sans-serif;
$font-body: "work_sans", sans-serif;
$color-primary: #002060;
$color-secondary: #00b0f0;
$color-lightgray: #eeeeee;
$color-black: #000000;
$color-white: #ffffff;
$color-text: #444444;
$color-textmute: #5a5a5a;